.forgotpassword {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    
}

.forgotpassword form {
    border: 2px solid black;
    padding: 2rem;
}
.forgotpassword form input[type="email"]{
    margin-left: 1rem;
}

.forgotpassword form button {
    background-color: brown;
    color:white;
    width: 4rem;
}